/* Styling for table */
.custom-table {
    width: 96%;
    border-collapse: collapse;
    margin: 110px auto;
    text-align: center;
}

.custom-table th, .custom-table td {
    padding: 10px 10px;
    /* text-align: left; */
    border: 1px solid #ddd;
}

.custom-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.action-btn {
    /* background-color:black; */
  
    border: none;
    cursor: pointer;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

}



/* Modal styling */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.edit-icon{
    height: 20px;
    width: 20px;
    margin: 2px;

}

.salary{
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    /* width:100vw */
    max-height: 90vh;
     max-width: 70vw;
     /* marginTop: "40px", */
    overflow-y: auto;
    }

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
}

.cancel-btn, .update-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}



.sirsign{
    height: 50px;
    width:150px;
    /* border: 1px solid black; */
}
.cancel-btn {
    background-color:red;
    text-align: center;
    color: white;
}

.update-btn {
    background-color: rgb(92, 148, 212);
    color: white;
}

.update-btn:hover, .cancel-btn:hover {
    opacity: 0.8;
}
