.tabletag {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20vh;
}

.tabletag th,
.tabletag td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    text-align: center;

}

.tabletag th {
    background-color: #c3c2c2;
    font-size: large;
}

.tabletag td {
    font-size: large;
    font: bold;

}

.tabletag tr:hover{
    background-color: rgb(222, 222, 222);
}

.deletbtn {

    border-radius: 10px;
    background-color: black;
    color: white;

}


